In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels as sts
import sklearn as skl
from sklearn import linear_model

In [36]:
#we will now read the file, create a dataframe and see what the data look like
data=pd.read_csv("C:/Users/miche/Desktop/Data analytics training/AI JOBS DATASET/ai_job_dataset.csv")
df=pd.DataFrame(data)
print(df)

        job_id                    job_title  salary_usd salary_currency  \
0      AI00001        AI Research Scientist       90376             USD
1      AI00002         AI Software Engineer       61895             USD
2      AI00003                AI Specialist      152626             USD
3      AI00004                 NLP Engineer       80215             USD
4      AI00005                AI Consultant       54624             EUR
...        ...                          ...         ...             ...
14995  AI14996            Robotics Engineer       38604             USD
14996  AI14997  Machine Learning Researcher       57811             GBP
14997  AI14998                 NLP Engineer      189490             USD
14998  AI14999                   Head of AI       79461             EUR
14999  AI15000     Computer Vision Engineer       56481             USD

      experience_level employment_type company_location company_size  \
0                   SE              CT            China            M
1                   EN              CT           Canada            M
2                   MI              FL      Switzerland            L
3                   SE              FL            India            M
4                   EN              PT           France            S
...                ...             ...              ...          ...
14995               EN              FL          Finland            S
14996               EN              CT   United Kingdom            M
14997               EX              CT      South Korea            L
14998               EN              FT      Netherlands            M
14999               MI              PT          Austria            S

      employee_residence  remote_ratio  \
0                  China            50
1                Ireland           100
2            South Korea             0
3                  India            50
4              Singapore           100
...                  ...           ...
14995            Finland            50
14996     United Kingdom             0
14997        South Korea            50
14998        Netherlands             0
14999            Austria            50

                                       required_skills education_required  \
0             Tableau, PyTorch, Kubernetes, Linux, NLP           Bachelor
1      Deep Learning, AWS, Mathematics, Python, Docker             Master
2         Kubernetes, Deep Learning, Java, Hadoop, NLP          Associate
3                            Scala, SQL, Linux, Python                PhD
4                         MLOps, Java, Tableau, Python             Master
...                                                ...                ...
14995                          Java, Kubernetes, Azure           Bachelor
14996          Mathematics, Docker, SQL, Deep Learning             Master
14997                                Scala, Spark, NLP          Associate
14998        Java, Computer Vision, Python, TensorFlow                PhD
14999    Scala, Azure, Deep Learning, GCP, Mathematics                PhD

       years_experience       industry posting_date application_deadline  \
0                     9     Automotive   2024-10-18           2024-11-07
1                     1          Media   2024-11-20           2025-01-11
2                     2      Education   2025-03-18           2025-04-07
3                     7     Consulting   2024-12-23           2025-02-24
4                     0          Media   2025-04-15           2025-06-23
...                 ...            ...          ...                  ...
14995                 1         Energy   2025-02-06           2025-03-25
14996                 0     Government   2024-10-16           2024-10-30
14997                17  Manufacturing   2024-03-19           2024-05-02
14998                 1    Real Estate   2024-03-22           2024-04-23
14999                 2     Technology   2024-07-18           2024-08-10

       job_description_length  benefits_score       company_name
0                        1076             5.9    Smart Analytics
1                        1268             5.2       TechCorp Inc
2                        1974             9.4    Autonomous Tech
3                        1345             8.6     Future Systems
4                        1989             6.6  Advanced Robotics
...                       ...             ...                ...
14995                    1635             7.9  Advanced Robotics
14996                    1624             8.2    Smart Analytics
14997                    1336             7.4     AI Innovations
14998                    1935             5.6    Smart Analytics
14999                    2492             7.6     AI Innovations

[15000 rows x 19 columns]

In [ ]:
#we check the column types
print(df.dtypes)

job_id                     object
job_title                  object
salary_usd                  int64
salary_currency            object
experience_level           object
employment_type            object
company_location           object
company_size               object
employee_residence         object
remote_ratio                int64
required_skills            object
education_required         object
years_experience            int64
industry                   object
posting_date               object
application_deadline       object
job_description_length      int64
benefits_score            float64
company_name               object
dtype: object

In [38]:
#we check for null values
print(df.isna().any())
#there are no null values

job_id                    False
job_title                 False
salary_usd                False
salary_currency           False
experience_level          False
employment_type           False
company_location          False
company_size              False
employee_residence        False
remote_ratio              False
required_skills           False
education_required        False
years_experience          False
industry                  False
posting_date              False
application_deadline      False
job_description_length    False
benefits_score            False
company_name              False
dtype: bool

In [39]:
#we must changes some column values to give them better consistency and making them more understandable
groupbyexplvl=df.groupby("experience_level")["experience_level"].count()
print(groupbyexplvl)
groupbycompsize=df.groupby("company_size")["company_size"].count()
print(groupbycompsize)
groupbyemptype=df.groupby("employment_type")["employment_type"].count()
print(groupbyemptype)
groupbyremote=df.groupby("remote_ratio")["remote_ratio"].count()
print(groupbyremote)
df["remote_ratio"]=df["remote_ratio"].astype(str)
df["remote_ratio"]=df["remote_ratio"].replace({"0":"No Remote","50":"Hybrid","100":"Full Remote"})
df["company_size"]=df["company_size"].replace({"L":"Large Company","M":"Medium Company","S":"Small Company"})
df["experience_level"]=df["experience_level"].replace({"EN":"Entry Level","EX":"Executive","MI":"Mid-Senior Level","SE":"Senior Level"})
df["employment_type"]=df["employment_type"].replace({"CT":"Contract","FL":"Freelance","FT":"Full-time","PT":"Part-time"})
print(df)
#now attrubutes are more understandable

experience_level
EN    3718
EX    3760
MI    3781
SE    3741
Name: experience_level, dtype: int64
company_size
L    4998
M    4995
S    5007
Name: company_size, dtype: int64
employment_type
CT    3721
FL    3758
FT    3812
PT    3709
Name: employment_type, dtype: int64
remote_ratio
0      5075
50     5005
100    4920
Name: remote_ratio, dtype: int64
        job_id                    job_title  salary_usd salary_currency  \
0      AI00001        AI Research Scientist       90376             USD
1      AI00002         AI Software Engineer       61895             USD
2      AI00003                AI Specialist      152626             USD
3      AI00004                 NLP Engineer       80215             USD
4      AI00005                AI Consultant       54624             EUR
...        ...                          ...         ...             ...
14995  AI14996            Robotics Engineer       38604             USD
14996  AI14997  Machine Learning Researcher       57811             GBP
14997  AI14998                 NLP Engineer      189490             USD
14998  AI14999                   Head of AI       79461             EUR
14999  AI15000     Computer Vision Engineer       56481             USD

       experience_level employment_type company_location    company_size  \
0          Senior Level        Contract            China  Medium Company
1           Entry Level        Contract           Canada  Medium Company
2      Mid-Senior Level       Freelance      Switzerland   Large Company
3          Senior Level       Freelance            India  Medium Company
4           Entry Level       Part-time           France   Small Company
...                 ...             ...              ...             ...
14995       Entry Level       Freelance          Finland   Small Company
14996       Entry Level        Contract   United Kingdom  Medium Company
14997         Executive        Contract      South Korea   Large Company
14998       Entry Level       Full-time      Netherlands  Medium Company
14999  Mid-Senior Level       Part-time          Austria   Small Company

      employee_residence remote_ratio  \
0                  China       Hybrid
1                Ireland  Full Remote
2            South Korea    No Remote
3                  India       Hybrid
4              Singapore  Full Remote
...                  ...          ...
14995            Finland       Hybrid
14996     United Kingdom    No Remote
14997        South Korea       Hybrid
14998        Netherlands    No Remote
14999            Austria       Hybrid

                                       required_skills education_required  \
0             Tableau, PyTorch, Kubernetes, Linux, NLP           Bachelor
1      Deep Learning, AWS, Mathematics, Python, Docker             Master
2         Kubernetes, Deep Learning, Java, Hadoop, NLP          Associate
3                            Scala, SQL, Linux, Python                PhD
4                         MLOps, Java, Tableau, Python             Master
...                                                ...                ...
14995                          Java, Kubernetes, Azure           Bachelor
14996          Mathematics, Docker, SQL, Deep Learning             Master
14997                                Scala, Spark, NLP          Associate
14998        Java, Computer Vision, Python, TensorFlow                PhD
14999    Scala, Azure, Deep Learning, GCP, Mathematics                PhD

       years_experience       industry posting_date application_deadline  \
0                     9     Automotive   2024-10-18           2024-11-07
1                     1          Media   2024-11-20           2025-01-11
2                     2      Education   2025-03-18           2025-04-07
3                     7     Consulting   2024-12-23           2025-02-24
4                     0          Media   2025-04-15           2025-06-23
...                 ...            ...          ...                  ...
14995                 1         Energy   2025-02-06           2025-03-25
14996                 0     Government   2024-10-16           2024-10-30
14997                17  Manufacturing   2024-03-19           2024-05-02
14998                 1    Real Estate   2024-03-22           2024-04-23
14999                 2     Technology   2024-07-18           2024-08-10

       job_description_length  benefits_score       company_name
0                        1076             5.9    Smart Analytics
1                        1268             5.2       TechCorp Inc
2                        1974             9.4    Autonomous Tech
3                        1345             8.6     Future Systems
4                        1989             6.6  Advanced Robotics
...                       ...             ...                ...
14995                    1635             7.9  Advanced Robotics
14996                    1624             8.2    Smart Analytics
14997                    1336             7.4     AI Innovations
14998                    1935             5.6    Smart Analytics
14999                    2492             7.6     AI Innovations

[15000 rows x 19 columns]

In [ ]:
#now we need to split the required skills column into multiple columns and encode skill so we can count and sum them otherwise we would make a mistake in calculations
df[["skill1","skill2","skill3","skill4","skill5"]]=df["required_skills"].str.split(", ",expand=True)
filler="Not required"
df[["skill1","skill2","skill3","skill4","skill5"]]=df[["skill1","skill2","skill3","skill4","skill5"]].fillna(filler)
print(df)
#ok it seems that the data are cleaned now and so we can move on onto visualizations in Power BI

        job_id                    job_title  salary_usd salary_currency  \
0      AI00001        AI Research Scientist       90376             USD
1      AI00002         AI Software Engineer       61895             USD
2      AI00003                AI Specialist      152626             USD
3      AI00004                 NLP Engineer       80215             USD
4      AI00005                AI Consultant       54624             EUR
...        ...                          ...         ...             ...
14995  AI14996            Robotics Engineer       38604             USD
14996  AI14997  Machine Learning Researcher       57811             GBP
14997  AI14998                 NLP Engineer      189490             USD
14998  AI14999                   Head of AI       79461             EUR
14999  AI15000     Computer Vision Engineer       56481             USD

       experience_level employment_type company_location    company_size  \
0          Senior Level        Contract            China  Medium Company
1           Entry Level        Contract           Canada  Medium Company
2      Mid-Senior Level       Freelance      Switzerland   Large Company
3          Senior Level       Freelance            India  Medium Company
4           Entry Level       Part-time           France   Small Company
...                 ...             ...              ...             ...
14995       Entry Level       Freelance          Finland   Small Company
14996       Entry Level        Contract   United Kingdom  Medium Company
14997         Executive        Contract      South Korea   Large Company
14998       Entry Level       Full-time      Netherlands  Medium Company
14999  Mid-Senior Level       Part-time          Austria   Small Company

      employee_residence remote_ratio  ... MLOps Data Visualization  R  \
0                  China       Hybrid  ...     0                  0  0
1                Ireland  Full Remote  ...     0                  0  0
2            South Korea    No Remote  ...     0                  0  0
3                  India       Hybrid  ...     0                  0  0
4              Singapore  Full Remote  ...     1                  0  0
...                  ...          ...  ...   ...                ... ..
14995            Finland       Hybrid  ...     0                  0  0
14996     United Kingdom    No Remote  ...     0                  0  0
14997        South Korea       Hybrid  ...     0                  0  0
14998        Netherlands    No Remote  ...     0                  0  0
14999            Austria       Hybrid  ...     0                  0  0

      Computer Vision Azure Git  GCP  TensorFlow Statistics Spark
0                   0     0   0    0           0          0     0
1                   0     0   0    0           0          0     0
2                   0     0   0    0           0          0     0
3                   0     0   0    0           0          0     0
4                   0     0   0    0           0          0     0
...               ...   ...  ..  ...         ...        ...   ...
14995               0     1   0    0           0          0     0
14996               0     0   0    0           0          0     0
14997               0     0   0    0           0          0     1
14998               1     0   0    0           1          0     0
14999               0     1   0    1           0          0     0

[15000 rows x 49 columns]

In [41]:
#lets export the cleaned file
new_file_path="C:/Users/miche/Desktop/Data analytics training/AI JOBS DATASET/ai_job_dataset_cleaned.csv"
df.to_csv(new_file_path)